PartyCollegeApp/Service References/ServiceReference1/UserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumeByCardNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="startTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recordCnt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhyCardNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConsumeByCardNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConsumeByCardNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserInfoByUserIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserInfoByUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserInfoByUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUserInfoByUserIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteUserInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetConsumeByCardNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetConsumeByCardNo" />
  </wsdl:message>
  <wsdl:message name="GetConsumeByCardNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetConsumeByCardNoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoByUserID" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoByUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserInfoByUserID" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoByUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserInfoByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetIn">
    <wsdl:part name="DateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetConsumeByCardNoHttpGetIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="startTime" type="s:string" />
    <wsdl:part name="endTime" type="s:string" />
    <wsdl:part name="recordCnt" type="s:string" />
    <wsdl:part name="PhyCardNo" type="s:string" />
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConsumeByCardNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUserIDHttpGetIn">
    <wsdl:part name="UserInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUserIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoHttpGetIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="UserInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoByUserIDHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoByUserIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoHttpGetIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostIn">
    <wsdl:part name="DateTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetConsumeByCardNoHttpPostIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="startTime" type="s:string" />
    <wsdl:part name="endTime" type="s:string" />
    <wsdl:part name="recordCnt" type="s:string" />
    <wsdl:part name="PhyCardNo" type="s:string" />
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConsumeByCardNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUserIDHttpPostIn">
    <wsdl:part name="UserInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoByUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoHttpPostIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="UserInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoByUserIDHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoByUserIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoHttpPostIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteUserInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="UserWebServiceSoap">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <wsdl:input message="tns:GetConsumeByCardNoSoapIn" />
      <wsdl:output message="tns:GetConsumeByCardNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <wsdl:input message="tns:UpdateUserInfoByUserIDSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input message="tns:UpdateUserInfoSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <wsdl:input message="tns:DeleteUserInfoByUserIDSoapIn" />
      <wsdl:output message="tns:DeleteUserInfoByUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <wsdl:input message="tns:DeleteUserInfoSoapIn" />
      <wsdl:output message="tns:DeleteUserInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserWebServiceHttpGet">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpGetIn" />
      <wsdl:output message="tns:GetUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <wsdl:input message="tns:GetConsumeByCardNoHttpGetIn" />
      <wsdl:output message="tns:GetConsumeByCardNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <wsdl:input message="tns:UpdateUserInfoByUserIDHttpGetIn" />
      <wsdl:output message="tns:UpdateUserInfoByUserIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input message="tns:UpdateUserInfoHttpGetIn" />
      <wsdl:output message="tns:UpdateUserInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <wsdl:input message="tns:DeleteUserInfoByUserIDHttpGetIn" />
      <wsdl:output message="tns:DeleteUserInfoByUserIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <wsdl:input message="tns:DeleteUserInfoHttpGetIn" />
      <wsdl:output message="tns:DeleteUserInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UserWebServiceHttpPost">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoHttpPostIn" />
      <wsdl:output message="tns:GetUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <wsdl:input message="tns:GetConsumeByCardNoHttpPostIn" />
      <wsdl:output message="tns:GetConsumeByCardNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <wsdl:input message="tns:UpdateUserInfoByUserIDHttpPostIn" />
      <wsdl:output message="tns:UpdateUserInfoByUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input message="tns:UpdateUserInfoHttpPostIn" />
      <wsdl:output message="tns:UpdateUserInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <wsdl:input message="tns:DeleteUserInfoByUserIDHttpPostIn" />
      <wsdl:output message="tns:DeleteUserInfoByUserIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <wsdl:input message="tns:DeleteUserInfoHttpPostIn" />
      <wsdl:output message="tns:DeleteUserInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWebServiceSoap" type="tns:UserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <soap:operation soapAction="http://tempuri.org/GetConsumeByCardNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <soap:operation soapAction="http://tempuri.org/UpdateUserInfoByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <soap:operation soapAction="http://tempuri.org/DeleteUserInfoByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <soap:operation soapAction="http://tempuri.org/DeleteUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceSoap12" type="tns:UserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <soap12:operation soapAction="http://tempuri.org/GetConsumeByCardNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserInfoByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <soap12:operation soapAction="http://tempuri.org/DeleteUserInfoByUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <soap12:operation soapAction="http://tempuri.org/DeleteUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceHttpGet" type="tns:UserWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <http:operation location="/GetConsumeByCardNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <http:operation location="/UpdateUserInfoByUserID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <http:operation location="/UpdateUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <http:operation location="/DeleteUserInfoByUserID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <http:operation location="/DeleteUserInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceHttpPost" type="tns:UserWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetUserInfo">
      <http:operation location="/GetUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsumeByCardNo">
      <http:operation location="/GetConsumeByCardNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfoByUserID">
      <http:operation location="/UpdateUserInfoByUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <http:operation location="/UpdateUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfoByUserID">
      <http:operation location="/DeleteUserInfoByUserID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserInfo">
      <http:operation location="/DeleteUserInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWebService">
    <wsdl:port name="UserWebServiceSoap" binding="tns:UserWebServiceSoap">
      <soap:address location="http://192.168.2.23:8091/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceSoap12" binding="tns:UserWebServiceSoap12">
      <soap12:address location="http://192.168.2.23:8091/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceHttpGet" binding="tns:UserWebServiceHttpGet">
      <http:address location="http://192.168.2.23:8091/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceHttpPost" binding="tns:UserWebServiceHttpPost">
      <http:address location="http://192.168.2.23:8091/UserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>