PartyCollegeCola/Web References/com.cofcoko.bpm/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ADLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="adLoginRequest" type="tns:ADLoginRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ADLoginRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserAD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ADLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ADLoginResult" type="tns:UserAuthenticateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserAuthenticateResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnFlag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ADLoginTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ADLoginTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ADLoginTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ADLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ADLogin" />
  </wsdl:message>
  <wsdl:message name="ADLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ADLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ADLoginTestSoapIn">
    <wsdl:part name="parameters" element="tns:ADLoginTest" />
  </wsdl:message>
  <wsdl:message name="ADLoginTestSoapOut">
    <wsdl:part name="parameters" element="tns:ADLoginTestResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="ADLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AD认证</wsdl:documentation>
      <wsdl:input message="tns:ADLoginSoapIn" />
      <wsdl:output message="tns:ADLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ADLoginTest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AD认证测试</wsdl:documentation>
      <wsdl:input message="tns:ADLoginTestSoapIn" />
      <wsdl:output message="tns:ADLoginTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ADLogin">
      <soap:operation soapAction="http://tempuri.org/ADLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ADLoginTest">
      <soap:operation soapAction="http://tempuri.org/ADLoginTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ADLogin">
      <soap12:operation soapAction="http://tempuri.org/ADLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ADLoginTest">
      <soap12:operation soapAction="http://tempuri.org/ADLoginTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://bpm.cofcoko.com/DomainAuthenticate/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://bpm.cofcoko.com/DomainAuthenticate/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>